<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <title>Habit Tracker</title>
</head>

<body>
    <main>
        <!-- Navigation Pane -->
        <header>
            <div class="title">
                Habit Tracker
            </div>
            <div class="nav-tray">
                <div class="nav-item <%= path==='/'? 'active-tab' : 'inactive-tab' %>">
                    <a href="/">Home</a>
                </div>
                <div class="nav-item <%= path==='/my-habits'? 'active-tab' : 'inactive-tab' %>">
                    <a href="/my-habits">My Habits</a>
                </div>
            </div>
        </header>